@import "bootstrap";
@import "settings";

body {
  padding-bottom: 30px;
  font-family: 'Average Sans', Verdana;
  color: $gray;
  background: #CECECE;
}

.topnav {
  position: absolute;
  right: 8px;

  a {
    margin-left: 8px;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    background: white;
    color: #333;

    &:hover {
      text-decoration: none;
    }

    &.active {
      position: relative;
      top: -9px;
      background: $gray-lighter;
      border: none;
    }

  }
}

.box {
  position: relative;
  margin-top: 40px;
  border: 1px solid $border-gray;
  
  padding: 20px;
  background: white;

  .alert {
    margin-top: 10px;

    h2 {
      margin-top: 0;
      font-size: 14px;
    }

    li {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .box-nav {
    position: absolute;
    top: -12px;
    padding-right: 30px;
    width: 100%;

    h1 {
      float: left;
      border-radius: 3px;
      border: 1px solid $border-gray;
      margin: 0 10px 0 0;
      padding: 7px 10px;
      font-size: 14px;
      color: $gray;
      background: #D8D8D8;
      font-weight: bold;
    }

    .form-control {
      height: 31px;
      border: 1px solid $border-gray;
      cursor: pointer;
    }

    .project {
      float: left;

      select {
        max-width: 150px;
      }
    }

    .time {
      float: left;
    }

    .box-nav-fragment {
      margin: 0 5px;
      border-radius: 3px;
      border: 1px solid $border-gray;
      font-size: 14px;
      background: white;

      a {
        display: inline-block;
        padding: 5px 10px;
      }
    }

    a {
      color: $gray;

      &:hover, &.active {
        text-decoration: none;
        background: #D8D8D8;
      }
    }
  }

  .table {

    tbody tr:first-child td {
      border-top: 0;
    }

    .month-summary {

      td {
        padding-top: 20px;
        color: #333333;
        font-size: 15px;
        border-bottom: 2px solid #333333;
      }
    }

    .day-summary td {
      padding-top: 30px;
      font-weight: bold;
      border-bottom: 1px solid #333333;

      &:last-child {
        text-align: right;
      }
    }

    .entry {
      color: $gray-dark;

      &:hover {
        td:last-child {
          position:relative;
        }
        .actions {
          display: block;
        }
      }

      .actions {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        padding: 3px 10px;
      }
    }

    .summary {
      th {
        border: 0;

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  #entry-form {
    .form-control {
      margin: 10px 0;
      width: 100%;
      font-size: 14px;
    }

    #entry_time_spent {
      text-align: center;
    }

    .datepicker {
      margin-top: 14px;
      border: none;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }

    .btn-container {
      @media (min-width: $screen-sm-min) {
        margin-left: -10px;
        padding-left: 0;
      }

      .btn {
        @media (min-width: $screen-sm-min) {
          height: 110px;
          width: 60px;
        }
      }
    }
  }
}

